{% extends "layouts/main.html" %}
{% set pageName="Change service" %}

{% block header %}
{% include "/delivery/wat3/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/delivery/wat3/partials/identity-bar/index.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <form action="/delivery/wat3/change-service-answer" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which service should this task be assigned to?
                        </h1>
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="taskService" name="taskService" type="radio" value="Universal" {{ "checked" if (data['taskService'] or data['service'] or 'Universal') == 'Universal' }}>
                            <label class="govuk-label govuk-radios__label" for="taskService">
                                Universal
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="taskService-2" name="taskService" type="radio" value="Enhanced" {{ "checked" if (data['taskService'] or data['service']) == 'Enhanced' }}>
                            <label class="govuk-label govuk-radios__label" for="taskService-2">
                                Enhanced
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="taskService-3" name="taskService" type="radio" value="RASSO" {{ "checked" if (data['taskService'] or data['service']) == 'RASSO' }}>
                            <label class="govuk-label govuk-radios__label" for="taskService-3">
                                RASSO
                            </label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="taskService-4" name="taskService" type="radio" value="None" {{ "checked" if (data['taskService'] or data['service']) == 'None' }}>
                            <label class="govuk-label govuk-radios__label" for="taskService-4">
                                No service at present
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
{% endblock %}
